<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Sites </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-item>
    <ion-label position="floating"> Search </ion-label>
    <ion-input inputmode="search" clearInput></ion-input>
  </ion-item>

  <ion-menu-toggle *ngFor="let site of sites" auto-hide="false">
    <ion-item >
      <ion-avatar slot="start">
        <img [src]="site?.high_resolution_icon_url" />
      </ion-avatar>
      <ion-label> {{site.name}} </ion-label>
    </ion-item>
  </ion-menu-toggle>

</ion-content>
