<ion-toolbar color="primary" mode="md">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end" mode="ios">
    <ion-button icon-only>
      <ion-badge color="danger">
        <span *ngIf="countUnread(inbox) !== 0"> {{countUnread(inbox) | shortenNumber}} </span>
      </ion-badge>
      <ion-icon name="md-chatbubbles"></ion-icon>
    </ion-button>

    <ion-button icon-only>
      <ion-badge color="success">
        <span *ngIf="countUnread(achievements) !== 0"> {{countUnread(achievements) | shortenNumber}} </span>
      </ion-badge>
      <ion-icon name="md-trophy"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-badge *ngIf="reviwQueues" color="danger" mode="ios" class="circle"> &nbsp;&nbsp; </ion-badge>
      <ion-icon name="ios-list-box"></ion-icon>
    </ion-button>

    <ion-button icon-only (click)="showMore($event)">
      <ion-icon name="md-more"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title> {{ title }} </ion-title>
</ion-toolbar>
