ion-button {
  position: relative;
  overflow: visible;

  ion-badge {
    position: absolute;
    top: 0px;
    left: 14px;
    z-index: 5;

    overflow: inherit;
    border: solid 1.5px var(--ion-color-primary);


    &.ios {
      padding: 2.5px 5.5px;
    }
    &.md {
      padding: 2px 4px;
    }

    &.circle {
      width: 20px;
      height: 20px;;
    }

    &~ ion-icon {
      margin-top: 2px;
      margin-right: 16px;
    }
  }
}
