
.reputation-wrapper {
  display: flex;
  align-items: center;
  padding: 2px 0;

  .reputation-count {
    font-size: .95rem
  }
  .reputation-label {
    padding-left: 10px;
    font-size: .7rem;
    opacity: .7;
    text-transform: uppercase;
  }
}


.achievements {
  width: 100%;
  font-size: .7em;
  color: var(--ion-color-medium);

  display: flex;
  flex-wrap: wrap;
  align-items: center!important;

  div {
    float: left;

    .fa-circle {
      position: relative;
      padding-left: 15px;
      font-size: .75em;

      &::before {
        position: absolute;
        top: -8px;
        left: 7px;
      }
    }

    &.gold .fa-circle{
      color: rgb(255, 215, 0)
    }
    &.silver .fa-circle{
      color: rgb(170, 165, 165)
    }
    &.bronze .fa-circle{
      color: rgb(180, 106, 33);
    }
  }
}
