.comments {

  div:after {
    content:"";
    background: var(--ion-color-light);
    position: absolute;
    bottom: 0;
    top:0;
    left: 2%;
    height: 1px;
    width: 95%;
  }

  .username {
    font-weight: bold;
  }

  .color-blue {
    color: var(--ion-color-secondary-shade);
    padding: 2px 3px;
    transition: .4s;

    &.highlight {
      background: rgba($color: var(--ion-color-secondary-rgb), $alpha: .2);
      border-radius: 4px;

      &:hover {
        background: rgba($color: var(--ion-color-secondary-rgb), $alpha: .3);
      }
    }
  }
}
