.comments {

  .comment {
    position: relative;
    padding: 3px 3px 3px 6px;
    margin: 2px;

    &:after {
      content:"";
      background: rgba($color: var(--ion-color-medium-rgb), $alpha: .5);
      position: absolute;
      top:0;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }

  .username {
    font-weight: bolder;
  }

  .color-blue {
    color: var(--ion-color-secondary-shade);
    padding: 2px 3px;
    transition: .4s;

    &.highlight {
      background: rgba($color: var(--ion-color-secondary-rgb), $alpha: .2);
      border-radius: 4px;

      &:hover {
        background: rgba($color: var(--ion-color-secondary-rgb), $alpha: .3);
      }
    }
  }
}
