<ion-content class="ion-padding">
  <!-- Feed -->
  <home-feed [questions]="questions" (options)="updateFilter($event)"></home-feed>

  <!-- Infinite scoll -->
  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadMore($event)" [disabled]="!questions?.length">
    <ion-infinite-scroll-content loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Fab -->
  <div *ngIf="backdrop" class="fab-backdrop blur"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="backdrop=!backdrop">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <!-- TODO: Replace ionic icons -->
    <ion-fab-list (click)="backdrop=!backdrop" side="top">
      <div class="fab-backdrop"></div>
      <ion-fab-button title="Manage Tags">
        <ion-icon name="pricetags"></ion-icon>
      </ion-fab-button>
      <ion-fab-button title="Custom filter">
        <ion-icon name="funnel"></ion-icon>
      </ion-fab-button>
      <ion-fab-button title="Ask question">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="!questions?.length || !hasMore">
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="circular"
      pullMin="65" pullMax="120">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
