.user-card {
  position: relative;
  max-width: 210px;
  max-height: 73px;
  overflow: hidden;

  border-radius: 4px;
  background: var(--ion-color-light);

  ion-item {
    --background: var(--ion-color-light);
  }

  .item-label {
    border-radius: 4px;
  }

  img {
    margin-left: 5px;
  }

  &.highlight {
    background: #d2e0f6;
    ion-item {
      --background: #d2e0f6;
    }
    .name {
      color: var(--ion-color-secondary-shade);
    }
  }

  .timestamp {
    padding: 5px 0 0 10px;
    font-size: .75em;
    color: var(--ion-color-medium-shade);
  }

  .name {
    font-size: .85em;
    color: var(--ion-color-secondary);
  }

  .achievements {
    width: 100%;
    font-size: .7em;
    color: var(--ion-color-medium);

    display: flex;
    flex-wrap: wrap;
    align-items: center!important;

    div {
      float: left;
      &:nth-child(n+2) {
        margin-left: 5px;
      }
    }
  }
}
