<div class="user-card ion-activatable" [class.highlight]="highlight" (click)="openProfile()">
  <div *ngIf="timestamp && action" class="timestamp"> {{action}} {{timestamp | timePassed}} </div>

  <ion-item class="ion-no-margin ion-no-padding" lines="none">
    <ion-avatar slot="start">
      <img [src]="user?.profile_image" default="./assets/images/placeholder/user.png">
    </ion-avatar>
    <ion-label>
      <div class="name" [innerHTML]="user?.display_name"></div>
      <div class="achievements">
        <div> {{user?.reputation | shortenNumber}} </div>

        <div *ngIf="user?.badge_counts?.gold">
          <icon-circle width="10px" height="10px" primary="rgb(255, 215, 0)"></icon-circle> {{user?.badge_counts.gold}}
        </div>
        <div *ngIf="user?.badge_counts?.silver">
          <icon-circle width="10px" height="10px" primary="rgb(170, 165, 165)"></icon-circle> {{user?.badge_counts.silver}}
        </div>
        <div *ngIf="user?.badge_counts?.bronze">
          <icon-circle width="10px" height="10px" primary="rgb(180, 106, 33)"></icon-circle> {{user?.badge_counts.bronze}}
        </div>
      </div>
    </ion-label>
  </ion-item>

</div>
