<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> User </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="profile">
        <ion-label> Profile </ion-label>
      </ion-segment-button>
      <ion-segment-button value="activity">
        <ion-label> Activity </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'profile'">
      User workz
    </div>

    <div *ngSwitchCase="'activity'">

      <pre>
        {{ user | json}}
      </pre>
    </div>
  </div>
</ion-content>
