<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{user?.display_name || 'User'}} </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="profile">
        <ion-label> Profile </ion-label>
      </ion-segment-button>
      <ion-segment-button value="activity">
        <ion-label> Activity </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'profile'">

      <div class="profile">
        <div class="profile-img  mat-elevation-z4">
          <img [src]="user?.profile_image" default="./assets/images/placeholder/user.png">
        </div>
        <div class="profile-name">
          {{user?.display_name || 'User Name'}}
        </div>
        <div class="profile-reputation">
          <span class="profile-reputation-value">
            {{user?.reputation || 0}}
          </span>

          <span class="profile-reputation-label">
            Reputation
          </span>
        </div>
      </div>
      <pre>
        {{ user | json}}
      </pre>
    </div>

    <div *ngSwitchCase="'activity'">

      <div *ngIf="chartReady">
        <canvas baseChart #reputationChartCanvas
          [datasets]="reputationChart.datasets"
          [options]="reputationChart.options"
          [labels]="reputationChart.labels"
          [chartType]="reputationChart.chartType">
        </canvas>
      </div>

    </div>
  </div>
</ion-content>
