<ion-card [class.highlighted-by-link]="answer?.answer_id == highlight && type == 'answer'">
  <ion-card-content>
    <voting [id]="answer?.answer_id" mode="answer"
            [score]="answer?.score" [isAccepted]="answer?.is_accepted">
    </voting>
    <div class="post" [innerHTML]="answer?.body"></div>
  </ion-card-content>

  <ion-row class="card-footer">
    <ion-col size="6">
      <user-card [user]="answer?.owner" action="answered" [timestamp]="answer?.creation_date"
                 [highlight]="answer?.owner?.display_name === questionOwner?.display_name">
      </user-card>
    </ion-col>
    <ion-col size="6">
      <user-card *ngIf="answer?.last_editor && answer?.owner?.user_id != answer?.last_editor?.user_id"
                 [user]="answer?.last_editor" action="edited" [timestamp]="answer?.last_edit_date">
      </user-card>
    </ion-col>

    <ion-col size="12">
      <comments [comments]="answer?.comments" [type]="type" [questionOwner]="questionOwner"></comments>
    </ion-col>
  </ion-row>
</ion-card>
