<ion-card>
  <ion-card-content>
    <voting [score]="answer?.score" [isAccepted]="answer?.is_accepted"></voting>
    <div class="post" [innerHTML]="answer.body"></div>
  </ion-card-content>

  <ion-row class="card-footer">
    <ion-col size="6">
      <user-card [user]="answer?.owner" action="answered" [timestamp]="answer?.creation_date"></user-card>
    </ion-col>
    <ion-col size="6">
      <user-card *ngIf="answer?.last_editor && answer?.owner?.user_id != answer?.last_editor?.user_id"
                 [user]="answer?.last_editor" action="edited" [timestamp]="answer?.last_edit_date">
      </user-card>
    </ion-col>
  </ion-row>
</ion-card>
