<ion-tabs>
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <icon-house
        width="30px" height="30px"
        [primary]="'home' === this.currentUrl ? 'var(--ion-color-primary)' : 'var(--ion-color-medium-shade)'"
        [secondary]="'home' === this.currentUrl ? 'var(--ion-color-primary-tint)' : 'var(--ion-color-medium-tint)'">
      </icon-house>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <icon-search
        [primary]="'search' === this.currentUrl ? 'var(--ion-color-primary)' : 'var(--ion-color-medium-shade)'"
        [secondary]="'search' === this.currentUrl ? 'var(--ion-color-primary-tint)' : 'var(--ion-color-medium-tint)'">
      </icon-search>
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="muteNotifications = true">
      <icon-notification-bell
        width="28px" height="28px"
        [unreadItems]="unreadNotifications"
        [mute]="muteNotifications"
        [primary]="'notification' === this.currentUrl ? 'var(--ion-color-primary)' : 'var(--ion-color-medium-shade)'"
        [secondary]="'notification' === this.currentUrl ? 'var(--ion-color-primary-tint)' : 'var(--ion-color-medium-tint)'">
      </icon-notification-bell>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <icon-user-tie
        [primary]="'jobs' === this.currentUrl ? 'var(--ion-color-primary)' : 'var(--ion-color-medium-shade)'"
        [secondary]="'jobs' === this.currentUrl ? 'var(--ion-color-primary-tint)' : 'var(--ion-color-medium-tint)'">
      </icon-user-tie>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
