.voting {
  position: relative;
  float: left;
  left: -10px;
  width: 40px;
  min-height: 100px;
  top: -15px;
  z-index: 10;

  .text-wrapper {
    overflow: visible;
    width: 100%;
    text-align: center;
  }

  .fa-caret-up, .fa-caret-down {
    font-size: 3.5em;
  }
  .counter {
    margin-top: -10px;
    font-size: 1.3em;;
  }
  .fa-caret-down {
    margin-top: -14px;
  }

  .fa-star, .fa-check, .fa-caret-up, .fa-caret-down {
    color: #a3a3a3;
  }

  .fa-check {
    font-size: 1.5em;
  }

  .favorites, .accepted {
    margin-top: -7px;
  }

  .favorites {
    overflow: visible;

    .text-wrapper {
      height: 40px;
    }

    .heart {
      height: 60px;
      width: 60px;
      margin-top: -30px;
      margin-left: -10px;
      overflow: visible;
      z-index: 11;

      background-image: url('/assets/sprites/heart.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: 2900%;

      &.isFavorite {
        animation: heart-burst .8s steps(28) 1;
        background-position: right;
      }
    }
  }

  .isAccepted * {
    color: #2ba55c;
  }
}

@keyframes heart-burst {
  from {
    background-position:left;
  }
  to {
    background-position:right;
  }
}
