<div class="voting">

  <div class="text-wrapper">
    <icon-caret direction="up" width="3rem"  height="3rem"
                [primary]="upvoted ? 'var(--ion-color-primary)' : 'var(--ion-color-medium)'"
                (click)="toggleUpvote()">
    </icon-caret>
  </div>

  <div class="text-wrapper">
    <div class="counter">
      {{score | shortenNumber}}
    </div>
  </div>

  <div class="text-wrapper">
    <icon-caret direction="down" width="3rem"  height="3rem"
                [primary]="downvoted ? 'var(--ion-color-primary)' : 'var(--ion-color-medium)'"
                (click)="toggleDownvote()">
    </icon-caret>
  </div>

  <div *ngIf="showFavorites" class="favorites" (click)="toggleFavorite()">
    <div class="text-wrapper">
      <div class="heart" [class.isFavorite]="isFavorite"></div>
    </div>
    <div class="text-wrapper">
      {{countFavorites | shortenNumber}}
    </div>
  </div>

  <div *ngIf="showAccepted || isAccepted" class="accepted" [class.isAccepted]="isAccepted">
    <div class="text-wrapper">
      <i class="fas fa-check"></i>
    </div>
  </div>
</div>
