.voting {
  position: relative;
  float: left;
  left: -10px;
  width: 3rem;
  min-height: 100px;
  top: -15px;
  z-index: 2;

  .text-wrapper {
    overflow: visible;
    width: 100%;
    text-align: center;
  }

  .counter {
    font-size: 1.5em;
  }

  .default-color {
    fill: #a3a3a3;
  }
  .voted-color {
    fill: var(--ion-color-primary);
  }

  .fa-check {
    font-size: 1.5em;
  }

  .favorites, .accepted {
    margin-top: -7px;
  }

  .favorites {
    overflow: visible;

    .text-wrapper {
      margin-top: -20px;
    }

    .heart {
      height: 78px;
      width: 78px;
      margin-top: -30px;
      margin-left: -15px;
      overflow: visible;
      z-index: 3;

      background-image: url('/assets/sprites/heart.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: 2900%;

      &.isFavorite {
        animation: heart-burst .8s steps(28) 1;
        background-position: right;
      }
    }
  }

  .isAccepted * {
    color: #2ba55c;
  }
}

@keyframes heart-burst {
  from {
    background-position:left;
  }
  to {
    background-position:right;
  }
}
