// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Default style Variables **/
:root {
  /** primary **/
  --ion-color-primary: #fe7f2d;
  --ion-color-primary-rgb: 254, 127, 45;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cb6624;
  --ion-color-primary-tint: #fe9957;

  /** secondary **/
  --ion-color-secondary: #5887ff;
  --ion-color-secondary-rgb: 88, 135, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3e5fb3;
  --ion-color-secondary-tint: #8aabff;

  /** tertiary **/
  --ion-color-tertiary: #fff8dc;
  --ion-color-tertiary-rgb: 255, 248, 220;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ffeb8e;
  --ion-color-tertiary-tint: #fff8dc;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #75767c;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
/* Light
 */
 body.light, .light-mode {
  --ion-background-color: hsl(0, 0%, 100%);
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;

  --ion-border-color: #cccccc;

  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;
  --ion-item-background: hsl(0, 0%, 100%);
  --ion-toolbar-background: hsl(0, 0%, 100%);
  --ion-tab-bar-background: hsl(0, 0%, 100%);
}
/* Dim
 */
 body.dim, .dim-mode {
  --ion-background-color: #16212c;
  --ion-background-color-rgb: 22, 33, 44;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #111a22;

  --ion-color-step-50: #222c37;
  --ion-color-step-100: #2d3741;
  --ion-color-step-150: #39424c;
  --ion-color-step-200: #454d56;
  --ion-color-step-250: #505961;
  --ion-color-step-300: #5c646b;
  --ion-color-step-350: #686f76;
  --ion-color-step-400: #737a80;
  --ion-color-step-450: #7f858b;
  --ion-color-step-500: #8b9096;
  --ion-color-step-550: #969ba0;
  --ion-color-step-600: #a2a6ab;
  --ion-color-step-650: #adb1b5;
  --ion-color-step-700: #b9bcc0;
  --ion-color-step-750: #c5c8ca;
  --ion-color-step-800: #d0d3d5;
  --ion-color-step-850: #dcdedf;
  --ion-color-step-900: #e8e9ea;
  --ion-color-step-950: #f3f4f4;

  --ion-item-background: #192734;
  --ion-toolbar-background: #16212c;
  --ion-tab-bar-background: #192734;
}


/* Lights out
 */
 body.lights-out, .lights-out-mode {
  --ion-background-color: #050505;
  --ion-background-color-rgb: 5,5,5;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #1e1e1e;

  --ion-color-step-50: #121212;
  --ion-color-step-100: #1e1e1e;
  --ion-color-step-150: #2b2b2b;
  --ion-color-step-200: #373737;
  --ion-color-step-250: #444444;
  --ion-color-step-300: #505050;
  --ion-color-step-350: #5d5d5d;
  --ion-color-step-400: #696969;
  --ion-color-step-450: #767676;
  --ion-color-step-500: #828282;
  --ion-color-step-550: #8f8f8f;
  --ion-color-step-600: #9b9b9b;
  --ion-color-step-650: #a8a8a8;
  --ion-color-step-700: #b4b4b4;
  --ion-color-step-750: #c1c1c1;
  --ion-color-step-800: #cdcdcd;
  --ion-color-step-850: #dadada;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #121212;
  --ion-toolbar-background: #050505;
  --ion-tab-bar-background: #121212;
}
