<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="shareQuestion()">
        <icon-share></icon-share>
      </ion-button>
      <ion-button icon-only (click)="openInBrowser()">
        <icon-external-link></icon-external-link>
      </ion-button>
    </ion-buttons>

    <ion-title [innerHTML]="title"></ion-title>
  </ion-toolbar>
</ion-header>
