<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button icon-only (click)="shareQuestion()">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="openInBrowser()">
        <ion-icon name="open"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title [innerHTML]="title"></ion-title>
  </ion-toolbar>
</ion-header>
