<div class="comming-soon-wrapper">
  <div class="comming-soon-card">

    <img src="./assets/images/in-development.svg" alt="">

    <h2> This site is currently under development </h2>

    <p>
      We are sorry that the feature you are looking for is currently not available due to development.
      <br>
      To learn more about the status of this feature, read the
      <!-- TODO: Add roadmap link-->
      <a href="https://github.com/NBprojekt/stack-app" target="_blank">roadmap.</a>
    </p>

    <p>
      If you want to advance the development of this app, learn more on our
      <a href="https://github.com/NBprojekt/stack-app" target="_blank">Github</a>,
      or visit our
      <!-- TODO: Add website link-->
      <a href="https://github.com/NBprojekt/stack-app" target="_blank">website</a>.
    </p>

  </div>
</div>
