ion-card {
  min-height: 150px;

  ion-card-header {
    min-height: 150px;

    ion-card-subtitle {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:nth-child(-n+2) span {
        font-weight: bolder;
        margin: 0 10px 0 5px;
      }
    }

    ion-card-title {
      text-align: left;
    }

    .card-tags {
      line-height: 1.7em;
    }
  }

  ion-card-content {
    padding-bottom: 0;
  }

  .card-footer {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 0 5px 8px;

    .controlls {
      color: var(--ion-color-medium);
    }
  }
}
