<ion-card class="questionSkeleton">
  <ion-card-header>
    <voting-skeleton></voting-skeleton>

    <ion-card-subtitle>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-subtitle>

    <ion-card-title>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-title>

    <ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated class="ml-2"></ion-skeleton-text>
      <ion-skeleton-text animated class="ml-2"></ion-skeleton-text>
      <br> <br>
    </ion-label>
  </ion-card-header>

  <ion-card-content>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated class="w-70"></ion-skeleton-text>
    <ion-skeleton-text animated class="img"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated class="w-80"></ion-skeleton-text>
  </ion-card-content>

  <ion-row>
    <ion-col size="6">
      <user-card-skeleton></user-card-skeleton>
    </ion-col>
  </ion-row>
</ion-card>
