<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{title}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="forwardInternally(item);">
      <ion-avatar slot="start">
        <img [src]="item?.site?.high_resolution_icon_url || item?.on_site?.high_resolution_icon_url">
      </ion-avatar>
      <ion-label>
        <h3 color="medium">
          {{item?.item_type || item?.achievement_type | snakeToHuman}}
        </h3>

        <h2 class="align-items-center">
          <div *ngIf="item?.achievement_type === 'badge'" [class]="'rank ' + item?.badge_rank">
            <i class="fas fa-circle"></i>
          </div>


          <div *ngIf="item?.achievement_type === 'reputation'" [className]="item?.reputation_change > 0 ? 'badge green' : 'badge red'">
            {{item?.reputation_change > 0? '+' + item?.reputation_change : item?.reputation_change}}
          </div>

          <div [innerHTML]="item.title"></div>

          <div *ngIf="item?.is_unread" class="new">
            <div class="badge"> new </div>
          </div>
        </h2>

        <p [innerHTML]="item.body"></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Infinite scoll -->
  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
