<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Question </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="vertical-spacer"></div>
  <div *ngIf="question; else skeleton">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          Asked <span> {{question.creation_date | timePassed}} </span>
          Viewed <span> {{question.view_count | shortenNumber}} {{question.view_count === 1 ? 'time' : 'times'}} </span>
        </ion-card-subtitle>

        <ion-card-title> {{question.title}} </ion-card-title>

        <ion-label class="card-tags">
          <span *ngFor="let tag of question.tags" class="tag"> {{tag}} </span>
        </ion-label>
      </ion-card-header>

      <ion-card-content class="post" [innerHTML]="question.body"></ion-card-content>
    </ion-card>
  </div>

  <ng-template #skeleton>
    <!-- TODO: Add skeleton -->
    Loading...
  </ng-template>
</ion-content>
