<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHTML]="title"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="vertical-spacer"></div>

  <div *ngIf="question; else questionSkeleton">
    <question-card [question]="question"></question-card>
  </div>

  <ng-template #questionSkeleton>
    <question-skeleton></question-skeleton>
  </ng-template>

  <div *ngIf="answers; else answerSkeleton">
    <ion-list>
      <ion-list-header>
        {{answers?.length || 0}} Answers
      </ion-list-header>

      <div *ngFor="let answer of answers">
        <answer-card [answer]="answer" [questionOwner]="question?.owner"></answer-card>
      </div>
    </ion-list>
  </div>

  <ng-template #answerSkeleton>
    <!-- TODO: Add skeleton -->
    Loading...
  </ng-template>
</ion-content>
