<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Question overview </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="vertical-spacer"></div>
  <div *ngIf="question; else questionSkeleton">
    <ion-card>
      <ion-card-header>
        <voting [score]="question.score" showFavorites="true" [countFavorites]="question.favorite_count"></voting>
        <ion-card-subtitle>
          Asked <span> {{question.creation_date | timePassed}} </span>
          Viewed <span> {{question.view_count | shortenNumber}} {{question.view_count === 1 ? 'time' : 'times'}} </span>
        </ion-card-subtitle>

        <ion-card-title> {{question.title}} </ion-card-title>

        <ion-label class="card-tags">
          <span *ngFor="let tag of question.tags" class="tag"> {{tag}} </span>
        </ion-label>
      </ion-card-header>

      <ion-card-content class="post" [innerHTML]="question.body"></ion-card-content>

      <ion-row class="card-footer">
        <ion-col size="6">
          <user-card [user]="question.owner" action="asked" [timestamp]="question.creation_date" highlight="true"></user-card>
        </ion-col>
        <ion-col size="6">
          <user-card *ngIf="question?.last_editor && question.owner.user_id != question.last_editor.user_id"
                     [user]="question.last_editor" action="edited" [timestamp]="question.last_edit_date">
          </user-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ng-template #questionSkeleton>
      <question-skeleton></question-skeleton>
  </ng-template>

  <div *ngIf="answers; else answerSkeleton">
    <ion-list>
      <ion-list-header>
        {{answers?.length || 0}} Answers
      </ion-list-header>

      <ion-card *ngFor="let answer of answers">
        <ion-card-content>
          <voting [score]="answer.score" [isAccepted]="answer.is_accepted"></voting>
          <div class="post" [innerHTML]="answer.body"></div>
        </ion-card-content>

        <ion-row class="card-footer">
          <ion-col size="6">
            <user-card [user]="answer.owner" action="answered" [timestamp]="answer.creation_date"></user-card>
          </ion-col>
          <ion-col size="6">
            <user-card *ngIf="answer?.last_editor && answer.owner.user_id != answer.last_editor.user_id"
                       [user]="answer.last_editor" action="edited" [timestamp]="answer.last_edit_date">
            </user-card>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>

  <ng-template #answerSkeleton>
    <!-- TODO: Add skeleton -->
    Loading...
  </ng-template>
</ion-content>
