.card-heading {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: .9rem;
}
.theme-button {
  margin: 5px 0;
}
.mode-button {
  margin: 5px 0;
  border: 1px solid var(--ion-border-color);
  border-radius: 4px;

  &.active {
    border: 2px solid var(--ion-color-primary);
  }
}
