/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-popover{
  ion-backdrop{
    opacity: 0.5 !important;
  }
  .popover-wrapper{
    .popover-content{
      width:80vw;
      max-width: 250px;
      * {
        background: #fff;
      }
    }
  }
}

ion-slides {
  .swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background: var(--ion-color-secondary);
  }
}

.blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.tag {
  background: rgba($color: #eb9100, $alpha: .3);
  padding: 2px 6px;
  margin-right: 3px;
  border-radius: 4px;
}

.post {
  pre {
    background: rgba($color: #000000, $alpha: .1);
    border-radius: 3px;
    padding: 10px;
    code {
      background: none;
    }
  }
  code {
    background: rgba($color: #000000, $alpha: .1);
    padding: 0 6px;
    border-radius: 4px;
  }
  p {
    text-align: justify;
    margin: 2px 0 5px;
    line-height: 1.2em;
  }
}
