<ion-list *ngIf="questions; else skeleton">
  <ion-list-header>
    <ion-label>
      Top Questions
    </ion-label>

    <ion-select interface="action-sheet" [interfaceOptions]="{header: 'Show'}"
                cancelText="Cancel" (ionChange)="filterChange()"
                [(ngModel)]="filter">
      <ion-select-option value="interesting"> Interesting </ion-select-option>
      <ion-select-option value="bountied"> Bountied </ion-select-option>
      <ion-select-option value="hot"> Hot </ion-select-option>
      <ion-select-option value="week"> Week </ion-select-option>
      <ion-select-option value="month"> Month </ion-select-option>
    </ion-select>
  </ion-list-header>

  <ion-item *ngFor="let question of questions" button
            [routerLink]="['/menu/pages/question', question.question_id]"
            routerDirection="forward">
    <ion-thumbnail slot="start">
      <div class="text-right">
        {{question.score | shortenNumber}}
        <i class="fas fa-caret-up fa-lg"></i>
      </div>
      <div class="text-right">
        {{question.anwser_count | shortenNumber}}
        <i class="fas fa-comment-alt fa-flip-horizontal fa-sm"></i>
      </div>
      <div class="text-right">
        {{question.view_count | shortenNumber}}
        <i class="far fa-eye fa-sm"></i>
      </div>
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap-text"> {{question.title}} </h2>
      <h3>
        <span *ngFor="let tag of question.tags"> {{tag}} </span>
      </h3>
      <p> by {{question.owner.display_name}} </p>
    </ion-label>
  </ion-item>
</ion-list>

<ng-template #skeleton>
  <ion-list class="skeleton-list">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>

      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let page of fill(10)" >
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h2>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>
