<ion-list *ngIf="data; else skeleton">
  <ion-list-header>
    <ion-label>
      Top Questions
    </ion-label>

    <ion-select interface="action-sheet" [interfaceOptions]="{header: 'Show'}"
                cancelText="Cancel">
      <ion-select-option value="1" selected> Interesting </ion-select-option>
      <ion-select-option value="2"> <ion-badge color="primary"> 300 </ion-badge> Bountied </ion-select-option>
      <ion-select-option value="3"> Hot </ion-select-option>
      <ion-select-option value="4"> Week </ion-select-option>
      <ion-select-option value="5"> Month </ion-select-option>
    </ion-select>
  </ion-list-header>

  <ion-item>
    <ion-thumbnail slot="start">

    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap-text"> How do i use ngStyle with Interpolation </h2>
      <h3> Angular </h3>
      <p> asked 4 mins ago TestUser 123 </p>
    </ion-label>
  </ion-item>
</ion-list>

<ng-template #skeleton>
  <ion-list class="skeleton-list">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>

      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let page of fill(10)" >
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h2>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>
