

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-thumbnail{
  padding: 2px 3px 0 0 ;
  width: 60px;
  height: 60px;

  &.anwsered {
    border: 1px solid var(--ion-color-success-shade);
    background: rgba($color: var(--ion-color-success-rgb), $alpha: .05);
    border-radius: 4px;
  }
}

.skeleton-list {
  height: 100%;
  overflow: hidden;
  margin: 0;

  ion-list-header  {
    ion-skeleton-text {
      height: 13px;
    }
    ion-label:nth-child(1) ion-skeleton-text{
      width: 150px;
    }
    ion-label:nth-child(2) ion-skeleton-text{
      width: 80px;
    }
  }

  h2 ion-skeleton-text {
    width: 85%;
    height: 15px;
  }
  h3 ion-skeleton-text {
    width: 20%;
    height: 19px;
    margin: 7px 10px 0 0;
  }
  p ion-skeleton-text {
    width: 55%;
    height: 11px;
  }
}

.text-right {
  text-align: right;
  font-size: .95em;
}

.grey {
  color: var(--ion-color-medium);
}
