<ion-list *ngIf="questions; else skeleton">
  <ion-list-header>
    <ion-label>
      Top Questions
    </ion-label>

    <ion-select interface="action-sheet" [interfaceOptions]="{header: 'Show'}"
                cancelText="Cancel" (ionChange)="filterChange()"
                [(ngModel)]="filter">
      <ion-select-option value="interesting"> Interesting </ion-select-option>
      <ion-select-option value="bountied"> Bountied </ion-select-option>
      <ion-select-option value="hot"> Hot </ion-select-option>
      <ion-select-option value="week"> Week </ion-select-option>
      <ion-select-option value="month"> Month </ion-select-option>
    </ion-select>
  </ion-list-header>

  <ion-item *ngFor="let question of questions" button
            [routerLink]="['/menu/pages/question', question?.question_id, formatUrl(question?.title)]"
            routerDirection="forward">
    <ion-thumbnail class="question-statistics" [class.anwsered]="question?.is_answered" slot="start">
      <div class="text-right">
        {{question?.score | shortenNumber}}
        <icon-caret width="15px"  height="20px"
                    primary="var(--ion-color-medium)">
        </icon-caret>
      </div>
      <div class="text-right">
        {{question?.answer_count | shortenNumber}}
        <icon-comment width="15px"  height="15px"
                      primary="var(--ion-color-medium)">
        </icon-comment>
      </div>
      <div class="text-right">
        {{question?.view_count | shortenNumber}}
        <icon-eye width="15px"  height="15px"
                  primary="var(--ion-color-medium)"
                  secondary="var(--ion-color-medium)">
        </icon-eye>
      </div>
    </ion-thumbnail>

    <ion-label>
      <h2>
        <div class="badge" *ngIf="question?.bounty_amount"> +{{question?.bounty_amount}} </div>

        <div class="wrap-text" [innerHTML]="question?.title"></div>

        <icon-fire *ngIf="questionIsHot(question)" class="hot"></icon-fire>
      </h2>
      <h3>
        <span *ngFor="let tag of question?.tags" class="tag"> {{tag}} </span>
      </h3>
      <p>
        asked {{question?.creation_date | timePassed}}

        <span class="link" [innerHTML]="question?.owner?.display_name"></span>

        {{question?.owner?.reputation | shortenNumber}}
      </p>
    </ion-label>
  </ion-item>
</ion-list>

<ng-template #skeleton>
  <ion-list class="skeleton-list">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>

      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let page of fill(10)" >
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h2>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>
